@import "./reset.css";

/*font-family: 'Lobster', sans-serif;
font-family: 'PT Sans', sans-serif;*/

body {
    font-family: 'PT Sans', sans-serif;
}

/* Header */

.header {
    height: 800px;
    background-color: #265847;
    background-image: url(./../img/header-bg.jpg);
    /* background-repeat: no-repeat; */
    background-position: center;
    background-size: cover;
}
