/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  /* box-shadow: none; */
  /* background-color: transparent; */
  /* background: none; */
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

html {
  height: 100%; /* sticky footer */
  scroll-behavior: smooth;
}

body {
  font-family: "PT Sans", sans-serif;
  line-height: normal;
  display: flex; /* sticky footer */
  flex-direction: column; /* sticky footer */
  height: 100%; /* sticky footer */
  color: #31405b;
}

body > * {
  flex-shrink: 0;
}

main {
  flex-grow: 1;
}

img {
  display: block;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

legend {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  /* Tablet */
  /* Mobile */
  /* Mobile XS*/
}
@media (max-width: 1199px) {
  .container {
    width: 900px;
  }
}
@media (max-width: 899px) {
  .container {
    width: 600px;
  }
}
@media (max-width: 599px) {
  .container {
    width: 320px;
  }
}

.main-header {
  font-size: 54px;
  font-weight: 700;
  color: #31405B;
}

.inner-page {
  padding: 60px 0 100px;
  background-color: #f2f8f6;
}

.header-inner {
  display: flex;
  align-items: center;
  height: 100px;
  background-image: url(./../img/header/header-small-bg.jpg);
  background-position: center;
  background-size: cover;
  background-color: #265847;
  color: #fff;
}

a.button, .button {
  height: 50px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 50px;
  background-color: #0AC883;
  box-shadow: 0px 8px 20px 0px rgba(24, 219, 148, 0.35);
  font-size: 20px;
  line-height: 50px;
  font-weight: 700;
  color: #fff;
  transition: box-shadow 0.2s ease-in;
}
a.button:hover, .button:hover {
  box-shadow: 0px 0px 30px 0px rgba(24, 219, 148, 0.813);
}

.logo {
  font-family: "Lobster", sans-serif;
  font-size: 40px;
}

.nav-icon {
  width: 38px;
  height: 38px;
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.nav-icon__middle {
  position: relative;
  width: 34px;
  height: 4px;
  background-color: #fff;
  border-radius: 50px;
}
.nav-icon__middle::before, .nav-icon__middle::after {
  content: "";
  position: absolute;
  left: 0;
  border-radius: 50px;
  width: 34px;
  height: 4px;
  background-color: #fff;
  transition: transform 0.2s linear, top 0.2s ease-in 0.2s;
}
.nav-icon__middle::before {
  top: -9.2px;
}
.nav-icon__middle::after {
  top: 9.2px;
}

.nav-icon.nav-icon--active .nav-icon__middle {
  background-color: transparent;
}
.nav-icon.nav-icon--active .nav-icon__middle::before, .nav-icon.nav-icon--active .nav-icon__middle::after {
  top: 0;
  transition: top 0.2s ease-in, transform 0.2s linear 0.2s;
}
.nav-icon.nav-icon--active .nav-icon__middle::before {
  transform: rotate(45deg);
}
.nav-icon.nav-icon--active .nav-icon__middle::after {
  transform: rotate(-45deg);
}

.inner-page-header {
  margin-bottom: 60px;
  text-align: center;
}

.standart-card {
  width: 570px;
}

.wide-card {
  width: 670px;
}

.high-card {
  width: 470px;
}

.standart-card,
.wide-card,
.high-card {
  text-decoration: none;
  color: #fff;
  transition: opacity 0.2s ease-in;
}
.standart-card:hover,
.wide-card:hover,
.high-card:hover {
  opacity: 0.8;
}

.card-title-wrapper {
  padding: 0 30px;
  display: flex;
  align-items: center;
  height: 80px;
  background-color: #a6a6a6;
  color: #fff;
  overflow: hidden;
  white-space: nowrap;
}

.card-title {
  font-size: 28px;
  font-weight: 700;
  text-overflow: ellipsis;
  overflow: hidden;
}

.extreme-color {
  background-color: #c1b19b;
}

.adventures-color {
  background-color: #66b0be;
}

.hiking-color {
  background-color: #876f56;
}

.exotic-color {
  background-color: #27695e;
}

.form {
  padding: 40px;
  width: 630px;
  background-color: #fff;
  box-shadow: 0px 10px 20px 0px rgba(211, 211, 211, 0.25);
}

.form-title {
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 700;
}

.form-group {
  margin-bottom: 30px;
  font-size: 18px;
}
.form-group:last-of-type {
  margin-bottom: 35px;
}

.form-group-title {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 700;
}

.input {
  width: 100%;
  padding: 0 20px;
  height: 50px;
  border: 1px solid #c0c0c0;
  background: #eee;
  border-radius: 6px;
  color: #31405b;
}
.input::-moz-placeholder {
  color: rgba(49, 64, 91, 0.5);
}
.input::placeholder {
  color: rgba(49, 64, 91, 0.5);
}

.form-input-wrapper {
  margin-bottom: 10px;
}

.form-group-row {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.radio-row {
  display: flex;
  align-items: flex-start;
}
.radio-row + .radio-row {
  margin-top: 21px;
}

.real-radio {
  width: 0;
  height: 0;
  position: absolute;
  opacity: 0;
  z-index: -1;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.custom-radio {
  margin-right: 15px;
  position: relative;
  vertical-align: bottom;
  flex-shrink: 0;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #c0c0c0;
  background-color: #eee;
}
.custom-radio::before {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  border-radius: 50%;
  background-color: #2ab698;
  transition: transform 0.2s ease-in;
}

.real-radio:checked + .custom-radio::before {
  transform: translate(-50%, -50%) scale(1);
}

/* Checkbox */
.checkbox-row {
  display: flex;
  align-items: flex-start;
}
.checkbox-row + .checkbox-row {
  margin-top: 17px;
}

.real-checkbox {
  width: 0;
  height: 0;
  position: absolute;
  opacity: 0;
  z-index: -1;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.custom-checkbox {
  margin-right: 15px;
  position: relative;
  vertical-align: bottom;
  flex-shrink: 0;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  border: 1px solid #c0c0c0;
  background: #eee;
}
.custom-checkbox::before {
  content: "";
  width: 17px;
  height: 17px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  background-image: url(./../img/icons/icon-check.svg);
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.2s ease-in;
}

.real-checkbox:checked + .custom-checkbox::before {
  transform: translate(-50%, -50%) scale(1);
}

.real-checkbox:focus + .custom-checkbox,
.real-radio:focus + .custom-radio,
.input:focus {
  border: 1px solid #2ab698;
  box-shadow: 0 0 10px rgba(42, 182, 152, 0.5);
}

.header {
  position: relative;
  padding-top: 50px;
  height: 800px;
  background-image: url(./../img/header/header-bg.jpg);
  background-position: center;
  background-size: cover;
  background-color: #265847;
  color: #fff;
}

.header-inner {
  display: flex;
  align-items: center;
  height: 100px;
  background-image: url(./../img/header/header-small-bg.jpg);
  background-position: center;
  background-size: cover;
  background-color: #265847;
  color: #fff;
}

.header-top {
  margin: 0 auto;
  width: 1170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  font-size: 22px;
}

.header-nav-list {
  display: flex;
  gap: 50px;
}

.header-nav-button {
  width: 38px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-content {
  padding-top: 26px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1170px;
  text-align: center;
}
.header-content p {
  font-size: 24px;
}

.header-title {
  margin-bottom: 29px;
  font-size: 60px;
  line-height: 1;
  font-weight: 700;
}

.header-scroll {
  padding-bottom: 34px;
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 16px;
  text-align: center;
}
.header-scroll::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-42%);
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background-image: url(./../img/header/arrow-down.svg);
  background-repeat: no-repeat;
}

.main {
  padding: 120px 0;
  flex-grow: 1;
}

.main-row {
  margin-bottom: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main-row:nth-child(even) {
  flex-direction: row-reverse;
}
.main-row:last-child {
  margin-bottom: 0;
}

.main-content {
  width: 470px;
}

.main-content-header {
  margin-bottom: 20px;
}

.main-content-text {
  margin-bottom: 40px;
  font-size: 20px;
  line-height: 1.6;
}

a.text-link {
  text-decoration: underline;
  color: #138ece;
}

.text-bold {
  font-weight: 700;
}

.main-content-text p {
  margin-bottom: 15px;
}

.main-img {
  width: 570px;
}

/* Cards */
.cards-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.cards-row {
  display: flex;
  /* justify-content: space-between; */
  gap: 30px;
}

.cards-column {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  gap: 30px;
}

/* Article page*/
.row-article-page {
  display: flex;
  justify-content: space-between;
}

.article-page-nav {
  padding-top: 10px;
  width: 270px;
  flex-shrink: 0;
  flex-grow: 0;
}

.article-page-nav-title {
  margin-bottom: 34px;
  font-size: 28px;
  font-weight: 700;
  color: #31405B;
}

.article-page-nav-list {
  font-size: 20px;
  border-top: 1px solid #d6d9d8;
}

.article-page-nav-list li {
  border-bottom: 1px solid #d6d9d8;
}

.article-page-nav-list a {
  padding-top: 14px;
  padding-bottom: 14px;
  display: block;
  text-decoration: none;
  color: #138ece;
}

.article-page-nav-list a.active {
  font-weight: 700;
  color: #e04e4e;
}

.article-page-nav-list a:hover {
  text-decoration: underline;
}

/* article-page-article */
.article-page-article {
  width: 770px;
  flex-shrink: 0;
  flex-grow: 0;
  font-size: 20px;
  line-height: 1.6;
}

.article-page-article h1 {
  margin-bottom: 40px;
  font-size: 54px;
  font-weight: 700;
  line-height: normal;
}

.article-page-article h2,
.article-page-article h3,
.article-page-article h4,
.article-page-article h5,
.article-page-article h6 {
  margin-bottom: 15px;
  font-weight: 700;
}

.article-page-article h2 {
  font-size: 32px;
}

.article-page-article h3 {
  font-size: 26px;
}

.article-page-article h4 {
  font-size: 22px;
}

.article-page-article h5 {
  font-size: 20px;
}

.article-page-article h6 {
  font-size: 18px;
}

.article-page-article p {
  margin-bottom: 15px;
}

.article-page-article > *:last-child {
  margin-bottom: 0;
}

.article-page-article img {
  margin: 40px 0;
}

/* Contacts page*/
.contact-info {
  width: 470px;
}

.contacts-header {
  margin-bottom: 40px;
}

.contact-row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.contact-info {
  width: 470px;
}

.contact-block + .contact-block {
  margin-top: 40px;
}

.contact-block-title {
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 700;
}

.contact-list {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  line-height: 1.6;
}

.contact-list li {
  font-size: 20px;
}

.contact-list a {
  color: #138ece;
}

.contact-list-icon {
  padding-left: 39px;
  position: relative;
}

.contact-list-icon::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 24px;
  height: 24px;
}

.contact-list-icon.phone::before {
  background-image: url("./../img/icons/icon-phone.svg");
}

.contact-list-icon.mail::before {
  background-image: url("./../img/icons/icon-mail.svg");
}

.contact-list-icon.adress::before {
  background-image: url("./../img/icons/icon-pin.svg");
}

.footer {
  margin-top: auto; /* sticky footer */
  padding-top: 70px;
  padding-bottom: 90px;
  background-color: #265847;
  color: #fff;
}

.footer a:hover {
  text-decoration: underline;
}

.footer-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-copyright {
  width: 270px;
}

.footer-logo {
  margin-bottom: 26px;
}

.footer-copyright p {
  font-size: 16px;
  line-height: 1.6;
}

.footer-widgets-wrapper {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.footer-widget {
  font-size: 18px;
}

.footer-widget-info {
  width: 170px;
}

.footer-widget-services,
.footer-widget-contacts {
  width: 270px;
}

.footer-widget p {
  margin-bottom: 15px;
}

.footer-widget-title {
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 700;
}

.footer-widget-list {
  font-size: 18px;
}

.footer-widget-list li {
  margin-bottom: 15px;
}

.footer-widget-list li:last-child {
  margin-bottom: 0;
}

/* Tablet */
@media (max-width: 1199px) {
  /* header */
  .header {
    height: 591px;
  }
  .header-top {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
  }
  .header-content {
    padding-top: 7px;
    padding-left: 15px;
    padding-right: 15px;
    width: 900px;
  }
  .nav-icon {
    display: flex;
  }
  .header-nav-list {
    display: none;
  }
  .header-title {
    font-size: 52px;
  }
  a.header-scroll {
    font-size: 0;
  }
  /* main */
  .main {
    padding: 80px 0 82px;
  }
  .main-content {
    width: 420px;
  }
  .main-img {
    width: 420px;
    height: 362px;
  }
  .main-content-header .main-header {
    line-height: 1;
  }
  .main-header {
    font-size: 50px;
  }
  .main-content-text {
    margin-bottom: 20px;
    font-size: 18px;
  }
  .main-row {
    margin-bottom: 80px;
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
  .main-img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .inner-page {
    padding-bottom: 60px;
  }
  .inner-page-header {
    margin-bottom: 40px;
  }
  .inner-page .container {
    width: 100%;
  }
  /* tours-page */
  .cards-row img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .cards-column {
    flex-grow: 1;
  }
  .cards-column a {
    width: 100%;
  }
  .standart-card {
    width: 420px;
    flex-grow: 1;
  }
  .standart-card img {
    height: 240px;
  }
  .wide-card {
    width: 495px;
    flex-grow: 1;
  }
  .wide-card img {
    height: 210px;
  }
  .high-card {
    width: 345px;
  }
  .high-card img {
    height: 510px;
  }
  .card-title-wrapper {
    padding: 0 20px;
    height: 60px;
  }
  .card-title {
    font-size: 24px;
  }
  /* // tours-page*/
  /* tracking-page*/
  .row-article-page {
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
  .article-page-article {
    width: 570px;
    font-size: 18px;
    flex-grow: 2;
  }
  .article-page-article h1 {
    margin-bottom: 20px;
    font-size: 50px;
  }
  .article-page-article img {
    margin: 20px 0;
  }
  .article-page-nav {
    flex-grow: 1;
  }
  .article-page-nav-list {
    padding-right: 2px;
    font-size: 18px;
  }
  /* // tracking-page*/
  /* contacts-page */
  .contact-row {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
  }
  .contact-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .contact-block {
    flex-shrink: 0;
    flex-grow: 1;
  }
  .contact-block + .contact-block {
    margin-top: 0;
  }
  .contact-block-title {
    margin-bottom: 20px;
    font-size: 24px;
  }
  .contact-list {
    padding-top: 5px;
  }
  .contact-list li {
    font-size: 18px;
  }
  .contact-block-body iframe {
    width: 100%;
    height: 310px;
  }
  .form {
    width: 100%;
  }
  /* Footer */
  .footer {
    padding: 50px 0;
  }
  .footer-widget-services {
    display: none;
  }
  .footer-copyright {
    width: 225px;
  }
  .footer-copyright p {
    font-size: 14px;
  }
  .footer-widget-info {
    width: 195px;
  }
  .footer-logo {
    margin-bottom: 20px;
  }
  .footer-logo .logo {
    font-size: 30px;
  }
  .footer-widget-title {
    margin-bottom: 20px;
  }
}
/* Mobile */
@media (max-width: 899px) {
  .container {
    width: 600px;
  }
  /* header */
  .header-content {
    width: 100%;
  }
  .header-title {
    margin-bottom: 20px;
    font-size: 42px;
  }
  .header-content {
    padding-top: 0;
    transform: translate(-50%, -59%);
  }
  .header-content p {
    font-size: 20px;
  }
  .header-inner .logo {
    font-size: 30px;
  }
  /* main-page */
  .main {
    padding: 60px 0;
  }
  .main .container {
    width: 100%;
  }
  .main-row {
    margin-bottom: 60px;
    row-gap: 20px;
    flex-direction: row-reverse;
  }
  .main-row:nth-child(even) {
    flex-direction: row-reverse;
  }
  .main-header {
    font-size: 42px;
  }
  .main-img {
    flex-shrink: 0;
    width: 170px;
    height: 393px;
  }
  .main-content {
    width: auto;
  }
  .main-content-text {
    margin-bottom: 20px;
    font-size: 16px;
  }
  a.button, .button {
    padding-left: 35px;
    padding-right: 35px;
    height: 46px;
    font-size: 18px;
    line-height: 46px;
  }
  .inner-page {
    padding: 40px 0;
  }
  /* tours-page */
  .cards-wrapper {
    flex-direction: column;
    row-gap: 30px;
  }
  .cards-row,
  .cards-column {
    flex-direction: column;
    row-gap: 30px;
  }
  .high-card img {
    height: 210px;
  }
  .standart-card,
  .wide-card,
  .high-card {
    width: 100%;
  }
  /* // tours-page */
  /* tracking-page */
  .row-article-page {
    flex-wrap: wrap-reverse;
    row-gap: 40px;
  }
  .article-page-article {
    font-size: 16px;
  }
  .article-page-article h1 {
    font-size: 42px;
  }
  .article-page-article img {
    width: 100%;
  }
  .article-page-nav {
    padding-top: 0;
    flex-grow: 1;
  }
  /* // tracking-page */
  /* contacts-page */
  .contacts-header {
    margin-bottom: 30px;
  }
  .contact-info {
    flex-direction: column;
    row-gap: 40px;
  }
  .contact-block-body iframe {
    width: 100%;
  }
  .form {
    padding: 30px;
  }
  .form-group:last-of-type {
    margin-bottom: 30px;
  }
  /* // contacts-page */
  /* Footer */
  .footer {
    padding: 40px 0;
  }
  .footer .container {
    width: 100%;
  }
  .footer-row {
    flex-direction: column-reverse;
    row-gap: 50px;
  }
  .footer-widgets-wrapper {
    padding-top: 0;
    width: 100%;
  }
  .footer-copyright {
    width: 100%;
  }
}
/* Mobile XS*/
@media (max-width: 599px) {
  /* header */
  .logo {
    font-size: 30px;
  }
  .header-title {
    margin-bottom: 10px;
    font-size: 32px;
  }
  .header-content {
    transform: translate(-50%, -57%);
  }
  .header-content p {
    font-size: 18px;
  }
  .header-scroll::after {
    transform: translateX(-63%);
  }
  /* main-page */
  .main {
    padding: 40px 0;
  }
  .main .container {
    width: 100%;
  }
  .main-row {
    margin-bottom: 40px;
    flex-direction: column-reverse;
  }
  .main-row:nth-child(even) {
    flex-direction: column-reverse;
  }
  .main-img {
    width: auto;
    height: 150px;
  }
  .main-header {
    font-size: 34px;
  }
  .main-content-text p p {
    margin-bottom: 0;
  }
  .inner-page-header {
    margin-bottom: 30px;
  }
  .inner-page .container {
    width: 100%;
  }
  .inner-page-header .main-header {
    font-size: 28px;
  }
  /* tours-page */
  .cards-wrapper {
    row-gap: 20px;
  }
  .cards-row,
  .cards-column {
    row-gap: 20px;
  }
  .standart-card,
  .wide-card,
  .high-card {
    height: 290px;
  }
  .standart-card img,
  .wide-card img,
  .high-card img {
    height: 240px;
  }
  .card-title-wrapper {
    height: 50px;
  }
  .card-title {
    font-size: 20px;
  }
  /* // tours-page */
  /* tracking-page */
  .row-article-page {
    row-gap: 0;
  }
  .article-page-article {
    width: 290px;
  }
  .article-page-article h1 {
    margin-bottom: 10px;
    font-size: 28px;
  }
  .article-page-article h1,
  .article-page-article h2,
  .article-page-article h3,
  .article-page-article h4,
  .article-page-article h5,
  .article-page-article h6 {
    line-height: normal;
  }
  .article-page-nav-title {
    margin-bottom: 20px;
  }
  .article-page-nav-list {
    font-size: 16px;
  }
  .article-page-nav-list a {
    padding-top: 7px;
    padding-bottom: 7px;
  }
  /* //tracking-page */
  /* contacts-page */
  .contacts-header .main-header {
    font-size: 28px;
  }
  .contact-row {
    row-gap: 30px;
  }
  .contact-info {
    row-gap: 30px;
  }
  .contact-block-title {
    font-size: 20px;
  }
  .contact-list li {
    font-size: 16px;
  }
  .form {
    padding: 20px 31px 30px 15px;
  }
  .form-group-row {
    flex-direction: column;
  }
  .form-group {
    margin-bottom: 20px;
    font-size: 16px;
  }
  .form-title {
    font-size: 24px;
  }
  .form-group-title {
    font-size: 18px;
  }
  /* //contacts-page */
  /* footer */
  .footer {
    text-align: center;
  }
  .footer .container {
    width: 320px;
  }
  .footer-row {
    row-gap: 40px;
  }
  .footer-widgets-wrapper {
    flex-wrap: wrap;
    align-items: center;
    gap: 40px;
  }
  .footer-widgets-wrapper > * {
    width: 100%;
  }
  .footer-widget-services {
    display: block;
  }
  .footer-copyright {
    text-align: center;
  }
  .footer-logo {
    margin-bottom: 10px;
  }
  .footer-copyright p {
    padding: 0 15px;
    font-size: 14px;
  }
  .footer-widget-title {
    margin-bottom: 10px;
    font-size: 20px;
  }
  .footer-widget-list {
    font-size: 16px;
  }
  .footer-widget-list li {
    margin-bottom: 10px;
  }
  a.button, .button {
    padding: 0 35px;
  }
}/*# sourceMappingURL=main.css.map */