@import "./reset.css";

html {
    height: 100%; /* sticky footer */
    scroll-behavior: smooth;
}

body {
    font-family: 'PT Sans', sans-serif;
    line-height: normal;

    display: flex; /* sticky footer */
    flex-direction: column; /* sticky footer */
    height: 100%; /* sticky footer */

    color: #31405b;
}

body > * {
    flex-shrink: 0;
}

main {
    flex-grow: 1;
}

img {
    display: block;
}

.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.inner-page {
    padding: 60px 0 100px;
    background-color: #f2f8f6;
}

.main-header {
    font-size: 54px;
    font-weight: 700;
    color: #31405B;
}

a.button, .button {
    height: 50px;
    padding: 0 40px;

    border-radius: 50px;
    background-color: #0AC883;
    box-shadow: 0px 8px 20px 0px rgba(24, 219, 148, 0.35);

    font-size: 20px;
    line-height: 50px;
    font-weight: 700;
    color: #fff;
}

fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

legend {
    display: block;
    margin: 0;
    padding: 0;
    border: none;
}

/* Header */
.header {
    position: relative;

    padding-top: 50px;
    height: 800px;

    background-image: url(./../img/header/header-bg.jpg);
    background-position: center;
    background-size: cover;
    background-color: #265847;
    color: #fff;
}

.header-inner {
    display: flex;
    align-items: center;
    height: 100px;

    background-image: url(./../img/header/header-small-bg.jpg);
    background-position: center;
    background-size: cover;
    background-color: #265847;
    color: #fff;
}

.header-top {
    margin: 0 auto;
    width: 1170px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: 'Lobster', sans-serif;
    font-size: 40px;
}

.header-nav {
    font-size: 22px;
}

.header-nav-button {
    display: none;
}

.header-nav-list {
    display: flex;
    gap: 50px;
}

.header-content {
    position: absolute;
    top: 50%; 
    
    left: 50%;
    transform: translate(-50%, -50%);

    width: 1170px;
    text-align: center;
}

.header-title {
    margin-top: 16px;
    margin-bottom: 20px;

    font-size: 60px;
    line-height: 1;
    font-weight: 700;
}

.header-content p {
    font-size: 24px;
}

.header-scroll {
    padding-bottom: 34px;

    position: absolute;
    bottom: 25px; 
    
    left: 50%; 
    transform: translateX(-50%);
    

    font-size: 16px;
    text-align: center;
}

.header-scroll::after {
    position: absolute;
    bottom: 0; 
    left: 50%;
    transform: translateX(-50%); 
    

    content: "";
    display: block;
    width: 24px;
    height: 24px;

    background-image: url(./../img/header/arrow-down.svg);
    background-repeat: no-repeat;
}

/* Main */
.main {
    padding: 120px 0;
    flex-grow: 1;
}

.main-row {
    margin-bottom: 120px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-row:nth-child(even) {
    flex-direction: row-reverse;
}

.main-row:last-child {
    margin-bottom: 0;
}

.main-content {
    width: 470px;
}

.main-content-header {
    margin-bottom: 20px;
}

.main-content-text {
    margin-bottom: 40px;

    font-size: 20px;
    line-height: 1.6; 
}

a.text-link {
    text-decoration: underline;
    color: #138ece;
}

.text-bold {
    font-weight: 700;
}

.main-content-text p {
    margin-bottom: 15px;
}

.main-img {
    width: 570px;
}

/* Footer */
.footer {
    margin-top: auto; /* sticky footer */
    padding-top: 70px;
    padding-bottom: 90px;

    background-color: #265847;
    color: #fff;
}

.footer a:hover {
    text-decoration: underline;
}

.footer-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-copyright {
    width: 270px;
}

.footer-logo {
    margin-bottom: 26px;
}

.footer-copyright p {
    font-size: 16px;
    line-height: 1.6; 
}

.footer-widgets-wrapper {
    padding-top: 10px;

    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.footer-widget {
    font-size: 18px;
}

.footer-widget-info {
    width: 170px;
}

.footer-widget-services,
.footer-widget-contacts {
    width: 270px;
}

.footer-widget p {
    margin-bottom: 15px;
}

.footer-widget-title {
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 700;
}

.footer-widget-list {
    font-size: 18px;
}

.footer-widget-list li {
    margin-bottom: 15px;
}

.footer-widget-list li:last-child {
    margin-bottom: 0;
}

/* Inner page tours */
.inner-page-header {
    margin-bottom: 60px;
    text-align: center;
}

/* Cards */
.cards-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.cards-row {
    display: flex;
    justify-content: space-between;
}

.cards-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}

/* Card */
.standart-card {
    width: 570px;
}

.wide-card {
    width: 670px;
}

.high-card {
    width: 470px;
}

.standart-card, 
.wide-card,
.high-card {
    text-decoration: none;
    color: #fff;

    transition: opacity 0.2s ease-in;
}

.standart-card:hover, 
.wide-card:hover,
.high-card:hover {
    opacity: 0.8;
}

.card-title-wrapper {
    padding: 0 30px;

    display: flex;
    align-items: center;
    height: 80px;

    background-color: #a6a6a6;
    color: #fff;

    overflow: hidden;
    white-space: nowrap;
}

.card-title {
    font-size: 28px;
    font-weight: 700;
    text-overflow: ellipsis;
    overflow: hidden;
}

.extreme-color {
    background-color: #c1b19b;
}

.adventures-color {
    background-color: #66b0be;
}

.hiking-color {
    background-color: #876f56;
}

.exotic-color {
    background-color: #27695e;
}

/* Article page*/ 
.row-article-page {
    display: flex;
    justify-content: space-between;
}

.article-page-nav {
    padding-top: 10px;

    width: 270px;
    flex-shrink: 0;
    flex-grow: 0;
}

.article-page-nav-title {
    margin-bottom: 34px;

    font-size: 28px;
    font-weight: 700;
    color: #31405B;
}

.article-page-nav-list {
    font-size: 20px;
    border-top: 1px solid #d6d9d8;
}

.article-page-nav-list li {
    border-bottom: 1px solid #d6d9d8;
}

.article-page-nav-list a {
    padding-top: 14px;
    padding-bottom: 14px;

    display: block;

    text-decoration: none;
    color: #138ece;
}

.article-page-nav-list a.active {
    font-weight: 700;
    color: #e04e4e;
}

.article-page-nav-list a:hover {
    text-decoration: underline;
}

/* article-page-article */
.article-page-article {
    width: 770px;
    flex-shrink: 0;
    flex-grow: 0;

    font-size: 20px;
    line-height: 1.6;
}

.article-page-article h1 {
    margin-bottom: 40px;

    font-size: 54px;
    font-weight: 700;
    line-height: normal;
}

.article-page-article h2,
.article-page-article h3,
.article-page-article h4,
.article-page-article h5,
.article-page-article h6 {
    margin-bottom: 15px;
    font-weight: 700;
}

.article-page-article h2 {
    font-size: 32px;
}

.article-page-article h3 {
    font-size: 26px;
}

.article-page-article h4 {
    font-size: 22px;
}

.article-page-article h5 {
    font-size: 20px;
}

.article-page-article h6 {
    font-size: 18px;
}

.article-page-article p {
    margin-bottom: 15px;
}

.article-page-article > *:last-child {
    margin-bottom: 0;
}

.article-page-article img {
    margin: 40px 0;
}

/* Contacts page*/
.contact-info {
    width: 470px;
}

.contacts-header {
    margin-bottom: 40px;
}

.contact-row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.contact-info {
    width: 470px;
}

.contact-block + .contact-block {
    margin-top: 40px;
}

.contact-block-title {
    margin-bottom: 20px;

    font-size: 28px;
    font-weight: 700;
}

.contact-list {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    line-height: 1.6; 
}

.contact-list li {
    font-size: 20px;
}

.contact-list a {
    color: #138ece;
}

.contact-list-icon {
    padding-left: 39px;
    position: relative;
}

.contact-list-icon::before {
    content: "";

    position: absolute;
    top: 5px;
    left: 0;

    width: 24px;
    height: 24px;
}

.contact-list-icon.phone::before {
    background-image: url("./../img/icons/icon-phone.svg");  
}

.contact-list-icon.mail::before {
    background-image: url("./../img/icons/icon-mail.svg");  
}

.contact-list-icon.adress::before {
    background-image: url("./../img/icons/icon-pin.svg");  
}

/* Contact form*/

.form {
    padding: 40px;
    width: 630px;
    background-color: #fff;
    box-shadow: 0px 10px 20px 0px rgba(211, 211, 211, 0.25);
}

.form-title {
    margin-bottom: 20px;

    font-size: 28px;
    font-weight: 700;
}

.form-group {
    margin-bottom: 30px;
    font-size: 18px;
}

.form-group:last-of-type {
    margin-bottom: 35px;
}

.form-group-title {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 700;
}

.input {
    width: 100%;
    padding: 0 20px;
    height: 50px;

    border: 1px solid #c0c0c0;
    background: #eee;
    border-radius: 6px;

    color: #31405b;
}

.input::placeholder {
    color: rgba(49, 64, 91, 0.50);
}

.form-input-wrapper {
    margin-bottom: 10px;
}

.form-group-row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.radio-row {
    display: flex;
    align-items: flex-start;
}

.radio-row + .radio-row {
    margin-top: 21px;
}

.real-radio {
    width: 0;
    height: 0;
    position: absolute;
    opacity: 0;
    z-index: -1;
    appearance: none;
}

.custom-radio {
    margin-right: 15px;

    position: relative;
    vertical-align: bottom;
    flex-shrink: 0;

    display: inline-block;
    width: 20px;
    height: 20px;

    border-radius: 50%;
    border: 1px solid #c0c0c0;
    background-color: #eee;
}

.custom-radio::before {
    content: "";
    width: 12px;
    height: 12px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);

    border-radius: 50%;
    background-color: #2ab698;
    transition: transform 0.2s ease-in;
}

.real-radio:checked + .custom-radio::before {
    transform: translate(-50%, -50%) scale(1);
}

/* Checkbox */

.checkbox-row {
    display: flex;
    align-items: flex-start;
}

.checkbox-row + .checkbox-row {
    margin-top: 17px;
}

.real-checkbox {
    width: 0;
    height: 0;
    position: absolute;
    opacity: 0;
    z-index: -1;
    appearance: none;
}

.custom-checkbox {
    margin-right: 15px;

    position: relative;
    vertical-align: bottom;
    flex-shrink: 0;

    display: inline-block;
    width: 20px;
    height: 20px;
    

    border-radius: 2px;
    border: 1px solid #c0c0c0;
    background: #eee;
}

.custom-checkbox::before {
    content: "";

    width: 17px;
    height: 17px;;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);

    background-image: url(./../img/icons/icon-check.svg);
    background-repeat: no-repeat;
    background-position: center;

    transition: transform 0.2s ease-in;
}

.real-checkbox:checked + .custom-checkbox::before {
    transform: translate(-50%, -50%) scale(1);
}

.real-checkbox:focus + .custom-checkbox,
.real-radio:focus + .custom-radio,
.input:focus {
    border: 1px solid #2ab698;
    box-shadow: 0 0 10px rgba(42, 182, 152, 0.5);
}