/* Tablet */
@media (max-width: 1199px) {
    .container {
        max-width: 900px;
    }

    .header {
        padding-left: 15px;
        padding-right: 15px;
        height: 591px;
    }

    .header-top {
        width: 870px;
        justify-content: flex-start;
    }

    .logo {
        font-size: 30px;
    }

    .header-nav {
        display: none;
    }

    .mobile-nav {
        display: block;
        margin-left: auto;
    }

    .header-content {
        width: 868px;
    }

    .header-title {
        font-size: 52px;
    }

    a.header-scroll {
        color: transparent;
    }

    /* Main*/
    .main {
        padding: 80px 0;
    } 

    .inner-page {
        padding-bottom: 60px;
    }

    .main-row {
        margin-bottom: 80px;
        gap: 30px;
    } 

    .main-content {
        width: 420px;
    }

    .main-header {
        font-size: 50px;
        line-height: 1;
    }

    .inner-page-header {
        margin-bottom: 40px;
    }

    .main-header {
        font-size: 50px;
    }

    .article-page-nav-list {
        padding-right: 2px;
        font-size: 18px;
    }

    .article-page-article {
        width: 570px;
    }

    .article-page-article h1 {
        margin-bottom: 20px;
        font-size: 50px;
    }

    .article-page-article {
        font-size: 18px;
    }

    .main-content-text {
        font-size: 18px;
    }

    .article-page-article img  {
        margin: 20px 0;
    }

    .main-img {
        width: 420px;
        height: 362px;
    }

    .main-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
     /* Card */
     .standart-card {
        width: 420px;
    }

    .wide-card {
        width: 495px;
    }

    .high-card {
        width: 345px;
        height: 570px;
    }

    .high-card img {
        height: 510px;
    }

    .card-title-wrapper {
        padding: 0 20px;
        height: 60px;
    }

    .card-title {
        font-size: 24px;
    }
    /* Footer */
    .footer {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .footer-widget-services {
        display: none;
    } 
}

/* Mobile*/
@media (max-width: 899px) {
    .container {
        max-width: 600px;
    }

    .header-top {
        width: 570px;
    }

    .header-content {
        width: 570px;
        top: 45%;
    }

    .header-title {
        font-size: 42px;
        line-height: 1;
    }

    .row-article-page {
        flex-wrap: wrap-reverse;
        row-gap: 40px;
    }

    .article-page-nav {
        padding-top: 0;
        flex-grow: 1;
    }

    .article-page-article {
        font-size: 16px;
    }

    .header-content p {
        font-size: 20px;
    }

    .article-page-article h1 {
        font-size: 42px;
    }

    /* main*/
    .main {
        padding: 60px 0;
    } 

    .main {
        padding: 40px 0;
    } 

    .inner-page {
        padding: 40px 0;
    }

    .main-row {
        margin-bottom: 60px;
        min-height: 393px;
        flex-direction: row-reverse;
    } 

    .cards-wrapper {
        flex-direction: column;
        row-gap: 30px;
    }

    .cards-row,
    .cards-column {
        flex-direction: column;
        row-gap: 30px;
    }

    .main-header {
        font-size: 42px;
    }

    .main-content-text {
        font-size: 16px;
    }

    .main-img {
        height: 393px;
        width: 170px;
    }

    /* cards */
    .standart-card,
    .wide-card, 
    .high-card {
        width: 100%;
    }

    .standart-card img,
    .wide-card img, 
    .high-card img {
        width: 100%;
        object-fit: cover;
    }

    a.button, .button {
        padding: 0 30px;
        height: 46px;
        line-height: 46px;
        font-size: 18px;
    }
    
    /* Footer */
    .footer {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .footer-row {
        /* flex-wrap: wrap-reverse; */
        flex-direction: column-reverse;
        row-gap: 50px;
    }

    .footer-widgets-wrapper {
        padding-top: 0;
    }

    .footer-copyright {
        width: 100%;
    }
}

/* Mobile XS*/
@media (max-width: 599px) {
    .container {
        width: 320px;
    }

    .header-top {
        width: 290px;
    }

    .header-content {
        width: 290px;
    }

    .header-title {
        font-size: 32px;
    }

    .row-article-page {
        row-gap: 0;
    }

    .article-page-nav-title {
        margin-bottom: 20px;
    }

    .article-page-article {
        width: 290px;
    }

    .article-page-article h1 {
        margin-bottom: 10px;
        font-size: 28px;
    }

    .header-content p {
        font-size: 18px;
    }

    /* main*/
    .main {
        padding: 40px 0;
    } 

    .main-content {
        width: 290px;
    }

    .inner-page-header {
        margin-bottom: 30px;
    }

    .main-header {
        font-size: 28px;
    }

    .main-row {
        margin-bottom: 40px;
        flex-direction: column-reverse;
    } 

    .main-row:nth-child(even) {
        flex-direction: column-reverse;
    }

    .main-content-header {
        font-size: 34px;
    }

    .main-img {
        width: 290px;
        height: 150px;
    }

    .cards-wrapper {
        row-gap: 20px;
    }

    .cards-row,
    .cards-column {
        row-gap: 20px;
    }

    .standart-card,
    .wide-card, 
    .high-card {
        height: 290px;
    }

    .standart-card img,
    .wide-card img, 
    .high-card img {
        height: 240px;
    }

    .card-title-wrapper {
        height: 50px;
    }

    .card-title {
        font-size: 20px;
    }

    .article-page-nav-list {
        font-size: 16px;
    }

    .article-page-nav-list a {
        padding-top: 7px;
        padding-bottom: 7px;
    }

    .article-page-article h1,
    .article-page-article h2,
    .article-page-article h3,
    .article-page-article h4,
    .article-page-article h5,
    .article-page-article h6 {
        line-height: normal;
    }
    /* footer */
    .footer-row {
        flex-wrap: wrap-reverse;
        row-gap: 40px;
    }

    .footeer-widget {
        width: 290px;
    }

    .footer-widget-services {
        display: block;
    }

    .footer-widgets-wrapper {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

    .footer-copyright {
        text-align: center;
    }
    
}
