/* Mobile XS*/
@media (max-width: 599px) {
    /* header */
    .logo {
        font-size: 30px;
    }

    .header__title {
        margin-bottom: 10px;
        font-size: 32px;
    }

    .header__content {
        transform: translate(-50%, -57%);

        p {
            font-size: 18px;
        }
    }

    .header__scroll {
        
        &::after {
            transform: translateX(-63%);
        }
    }

    /* main-page */
    .main {
        padding: 40px 0;

        .container {
            width: 100%;
        }
    } 
    
    .main__row {
        margin-bottom: 40px;
        flex-direction: column-reverse;

        &:nth-child(even) {
            flex-direction: column-reverse;
        }
    } 

    .main__text {
        p {
            margin-bottom: 0;
        }
    }

    .main__img {
        width: auto;
        height: 150px;
    }

    .main-header {
        font-size: 34px;
    }

    .inner-page-header {
        margin-bottom: 30px;
    }

    .inner-page {

        .container {
            width: 100%;
        }
    }

    .inner-page-header {
        
        .main-header {
            font-size: 28px;
        }
    }

    /* tours-page */
    .cards-wrapper {
        row-gap: 20px;
    }

    .card-title-wrapper {
        padding-left: 15px;
        padding-right: 15px;
        height: 50px;
    }

    .cards-row {
        row-gap: 20px;
    }

    .cards-column {
        row-gap: 20px;
    }

    .card-title {
        font-size: 20px;
    }

    /* tracking-page */
    .row-article-page {
        row-gap: 0;
    }

    .article-page-article {
        width: 290px;

        h1 {
            margin-bottom: 10px;
            font-size: 28px;
        }

        img {
            margin: 22px 0;
        }

        h1, h2, h3, h4, h5, h6 {
            line-height: normal;
        }
    }

    .article-page-nav-title {
        margin-bottom: 15px;
        font-size: 22px;
    }

    .article-page-nav-list {
        font-size: 16px;

        a {
            padding-top: 6px;
            padding-bottom: 9px;
        }
    }

    /* //tracking-page */

    /* contacts-page */
    .contacts-header {

        .main-header {
            font-size: 28px;
            line-height: 1;
        }
    }

    .contact-row {
        row-gap: 30px;
    }

    .contact-info {
        row-gap: 30px;
    }

    .contact-block-title {
        font-size: 20px;
    }

    .contact-list {
        padding-top: 0;
        justify-content: center;
        row-gap: 20px;
        line-height: 1.3;

        li {
            font-size: 16px;
        }
    }

    .contact-map {
        width: 290px;
        height: 157px;
    }

    .form {
        padding: 20px 31px 30px 15px;
    
        .button {
            padding-left: 35px;
            padding-right: 35px;
        }
        
    }

    .form-group-row {
        flex-direction: column;
    }

    .form-group {
        margin-bottom: 20px;
        font-size: 16px;
    }

    .form-title {
        font-size: 24px;
    }

    .form-group-title {
        font-size: 18px;
    }
    /* //contacts-page */

    /* footer */
    .footer {
        text-align: center;

        .container {
            width: 320px;
        }
    }

    .footer__row {
        row-gap: 40px;
    }

    .footer__copyright {
        text-align: center;

        p {
            padding: 0 15px;
            font-size: 14px;
        } 
    }

    .footer__widgets-wrapper {
        flex-wrap: wrap;
        align-items: center;
        gap: 40px;

        & > * {
            width: 100%;
        }
    }

    .footer__logo {
        margin-bottom: 10px;
    }

    .footer-widget {

        &--services {
            display: block;
        }
    }

    .footer-widget__title {
        margin-bottom: 10px;
        font-size: 20px;
    }

    .footer-widget__list {
        font-size: 16px;

        li {
            margin-bottom: 10px;
        }
    }

    a.button, .button {
        padding: 0 35px;
    }
    
}
