/* Mobile XS*/
@media (max-width: 599px) {
    /* header */
    .logo {
        font-size: 30px;
    }

    .header-title {
        margin-bottom: 10px;
        font-size: 32px;
    }

    .header-content {
        transform: translate(-50%, -57%);
        p {
            font-size: 18px;
        }
    }

    .header-scroll {
        &::after {
            transform: translateX(-63%);
        }
    }
    /* main-page */
    .main {
        padding: 40px 0;
    } 

    .main .container {
        width: 100%;
    }
    
    .main-row {
        margin-bottom: 40px;
        flex-direction: column-reverse;

        &:nth-child(even) {
            flex-direction: column-reverse;
        }
    } 

    .main-img {
        width: auto;
        height: 150px;
    }

    .main-header {
        font-size: 34px;
    }

    .main-content-text p {
        p {
            margin-bottom: 0;
        }
    }

    .inner-page-header {
        margin-bottom: 30px;
    }

    .inner-page .container {
        width: 100%;
    }

    .inner-page-header .main-header {
        font-size: 28px;
    }

    /* tours-page */
    .cards-wrapper {
        row-gap: 20px;
    }

    .cards-row,
    .cards-column {
        row-gap: 20px;
    }

    .standart-card,
    .wide-card, 
    .high-card {
        height: 290px;
    }

    .standart-card img,
    .wide-card img, 
    .high-card img {
        height: 240px;
    }

    .card-title-wrapper {
        height: 50px;
    }

    .card-title {
        font-size: 20px;
    }
    /* // tours-page */

    /* tracking-page */
    .row-article-page {
        row-gap: 0;
    }

    .article-page-article {
        width: 290px;
    }

    .article-page-article h1 {
        margin-bottom: 10px;
        font-size: 28px;
    }

    .article-page-article h1,
    .article-page-article h2,
    .article-page-article h3,
    .article-page-article h4,
    .article-page-article h5,
    .article-page-article h6 {
        line-height: normal;
    }

    .article-page-nav-title {
        margin-bottom: 20px;
    }

    .article-page-nav-list {
        font-size: 16px;
    }

    .article-page-nav-list a {
        padding-top: 7px;
        padding-bottom: 7px;
    }
    /* //tracking-page */

    /* contacts-page */
    .contacts-header .main-header {
        font-size: 28px;
    }

    .contact-row {
        row-gap: 30px;
    }

    .contact-info {
        row-gap: 30px;
    }

    .contact-block-title {
        font-size: 20px;
    }

    .contact-list li {
        font-size: 16px;
    }

    .form {
        padding: 20px 31px 30px 15px;
    }

    .form-group-row {
        flex-direction: column;
    }

    .form-group {
        margin-bottom: 20px;
        font-size: 16px;
    }

    .form-title {
        font-size: 24px;
    }

    .form-group-title {
        font-size: 18px;
    }
    /* //contacts-page */

    /* footer */
    .footer {
        text-align: center;
    }

    .footer .container {
        width: 320px;
    }

    .footer-row {
        row-gap: 40px;
    }

    .footer-widgets-wrapper {
        flex-wrap: wrap;
        align-items: center;
        gap: 40px;
    }

    .footer-widgets-wrapper > * {
        width: 100%;
    }

    .footer-widget-services {
        display: block;
    }

    .footer-copyright {
        text-align: center;
    }

    .footer-logo {
        margin-bottom: 10px;
    }

    .footer-copyright {

        p {
            padding: 0 15px;
            font-size: 14px;
        }   
    }

    .footer-widget-title {
        margin-bottom: 10px;
        font-size: 20px;
    }

    .footer-widget-list {
        font-size: 16px;

        li {
            margin-bottom: 10px;
        }
    }

    a.button, .button {
        padding: 0 35px;
    }
    
}
