@media (max-width: 899px) {
    .container {
        width: 600px;
    }

    /* header */
    .header__content {
        width: 100%;
    }

    .header-title {
        font-size: 42px;
    }

    .header__content {
        transform: translate(-50%, -61%);

        p {
            font-size: 20px;
        }
    }

    .header-inner .logo {
        font-size: 30px;
    }

    /* main-page */
    .main {
        padding: 60px 0;
    } 

    .main .container {
        width: 100%;
    }

    .main__row {
        margin-bottom: 60px;
        row-gap: 20px;
        flex-direction: row-reverse;

        &:nth-child(even) {
            flex-direction: row-reverse;
        }
    }
    
    .main__content {
        width: auto;
    }

    .main__header {
        font-size: 42px;
    }

    .main__text {
        margin-bottom: 20px;
        font-size: 16px;
    }

    .main__img {
        flex-shrink: 0;
        width: 170px;
        height: 393px;
    }

    /* Footer */
    .footer {
        padding: 40px 0;
    }

    .footer .container {
        width: 100%;
    }

    .footer__row {
        flex-direction: column-reverse;
        row-gap: 50px;
    }

    .footer-widgets-wrapper {
        padding-top: 0;
        width: 100%;
    }

    .footer__copyright {
        width: 100%;
    }
}