/* Mobile */
@media (max-width: 899px) {
    .header {
        @include bgImage("./../img/header/header-bg-mobile.jpg");
    }

    .header__content {
        padding-top: 0;
        width: 100%;
        transform: translate(-50%, -59%);

        p {
            font-size: 20px;
        }
    }

    .header__title {
        margin-bottom: 20px;
        font-size: 42px;
    }

    .header-inner {
        height: 80px;
        @include bgImage("./../img/header/header-small-bg-mobile.jpg");

        .logo {
            font-size: 30px;
        }
    }

    /* main-page */
    .main {
        padding: 60px 0;

        .container {
            width: 100%;
        }
    }

    .inner-page {
        padding: 40px 0;
    }

    .main-page__row {
        margin-bottom: 60px;

        row-gap: 20px;
        flex-direction: row-reverse;

        &:nth-child(even) {
            flex-direction: row-reverse;
        }
    } 

    .title {
        font-size: 42px;
    }

    .main-page__content {
        width: auto;
    }

    .main-page__text {
        margin-bottom: 20px;
        font-size: 16px;
    }
    
    .main-page__img {
        flex-shrink: 0;
        width: 170px;
        height: 393px;
    }

    a.button, .button {
        padding-left: 35px;
        padding-right: 35px;
        height: 46px;
        font-size: 18px;
        line-height: 46px;
    }

    /* tours-page */
    .cards__row {
        flex-direction: column;
        column-gap: 0;
        row-gap: 30px
    }

    .card {
        width: 570px;
    }

    .card__title-wrapper {
        max-width: 899px;
    }

    /* tracking-page */
    .article-page__row {
        flex-wrap: wrap-reverse;
        row-gap: 40px;
    }

    .article-page__nav {
        padding-top: 0;
        flex-grow: 1;
    }

    .article {
        font-size: 16px;

        h1 {
            font-size: 42px;
        }

        img {
            width: 100%;
        }
    }

    /* contacts-page */
    .contacts__header {
        margin-bottom: 30px;
    }

    .contacts__info {
        flex-direction: column;
        row-gap: 40px;
    }

    .contact-block__map {
        width: 570px;
        height: 310px;
    }

    .form {
        padding: 30px;

        .button {
            padding-left: 30px;
            padding-right: 30px;
            font-size: 18px;
        }
    }

    .form__group:last-of-type {
        margin-bottom: 30px;
    }

    .input {
        padding-left: 19px;
        padding-right: 19px;
    }

    .form__input-row input:last-child {
        padding-left: 16px;
        padding-right: 16px;
    }

    /* Footer */
    .footer {
        padding: 40px 0;

        .container {
            width: 100%;
        }
    }

    .footer__row {
        flex-direction: column-reverse;
        row-gap: 50px;
    }

    .footer__widgets-wrapper {
        padding-top: 0;
        width: 100%;
    }

    .footer__copyright {
        width: 100%;
    }
}