/* Tablet */
@media (max-width: 1199px) {
    /* header */
    .header {
        height: 591px;
    }

    .header__top {
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
    }

    .header__content {
        padding-top: 7px;
        padding-left: 15px;
        padding-right: 15px;
        width: 900px;
    }

    .nav__list {
        display: none;
    }

    .nav-icon {
        display: flex;
    }

    .header__title {
        font-size: 52px;
    }

    a.header__scroll {
        font-size: 0;
    }

    /* main */
    .main {
        padding: 80px 0 82px;
    } 

    .inner-page {
        padding-bottom: 60px;
    }

    .main__row {
        margin-bottom: 80px;
        column-gap: 30px;
    } 

    .main__content {
        width: 420px;
    }

    .main__header {
        .main-header {
            line-height: 1;
        }
    }

    .inner-page__header {
        margin-bottom: 40px;
    }

    .main__img {
        width: 420px;
        height: 362px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .title {
        font-size: 50px;
    }

    .main__text {
        margin-bottom: 20px;
        font-size: 18px;
    }

    /* tours-page */
    .cards {
        align-items: center;
    }

    .card {
        width: 420px;

        &--wide {
            width: 495px;
        }

        &--high {
            width: 345px;
        }
    }

    .card__title-wrapper {
        padding-left: 20px;
        padding-right: 20px;
        height: 60px;
    }

    .card__title {
        font-size: 24px;
    }
   
    /* tracking-page*/
    .row-article-page {
        column-gap: 30px;
    }

    .article-page-article {
        width: 570px;
        font-size: 18px;
        flex-grow: 2;

        h1 {
            margin-bottom: 20px;
            font-size: 50px;
        }

        img {
            margin: 31px 0;
        }
    }

    .article-page-nav {
        flex-grow: 1;
    }

    .article-page-nav-list {
        padding-right: 2px;
        font-size: 18px;
    }
    /* // tracking-page*/

    /* contacts-page */
    .contact-row {
        flex-direction: column;
        row-gap: 40px;
    }

    .contact-info {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .contact-block {
        & + & {
            margin-top: 0;
        }
    }

    .contact-block-title {
        font-size: 24px;
    }

    .contact-list {
        padding-top: 5px;
        
        li {
            font-size: 18px;
        }
    }

    .contact-list-icon::before {
        top: 2px;
        left: 2px;
    }

    .contact-map {
        width: 420px;
        height: 310px;
    }

    .form {
        width: 100%;
    }

    .input {
        padding-left: 29px;
        padding-right: 29px;
    }

    .form-group-row input:last-child {
        padding-left: 25px;
        padding-right: 25px;
    }

    .footer {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .footer__copyright {
        width: 225px;

        p {
            font-size: 14px;
        }
    }

    .footer__logo {
        margin-bottom: 20px;

        .logo {
            font-size: 30px;
        }
    }

    .footer-widget {

        &--services {
            display: none;
        }

        &--info {
            width: 195px;
        }
        
    } 

    .footer-widget__title {
        margin-bottom: 20px;
    }
}