
html {
    height: 100%; /* sticky footer */
    scroll-behavior: smooth;
}

body {
    font-family: 'PT Sans', sans-serif;
    line-height: normal;

    display: flex; /* sticky footer */
    flex-direction: column; /* sticky footer */
    height: 100%; /* sticky footer */

    color: #31405b;
}

body > * {
    flex-shrink: 0;
}

main {
    flex-grow: 1;
}

img {
    display: block;
}


fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

legend {
    display: block;
    margin: 0;
    padding: 0;
    border: none;
}

.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;

    /* Tablet */
    @media (max-width: 1199px) {
        width: 900px;
    }

    /* Mobile */
    @media (max-width: 899px) {
        width: 600px;
    }

    /* Mobile XS*/
    @media (max-width: 599px) {
        width: 320px;
    }
}

.main-header {
    font-size: 54px;
    font-weight: 700;
    color: #31405B;
}

