
html {
    height: 100%; /* sticky footer */
    scroll-behavior: smooth;
}

body {
    font-family: 'PT Sans', sans-serif;
    line-height: normal;

    display: flex; /* sticky footer */
    flex-direction: column; /* sticky footer */
    height: 100%; /* sticky footer */

    color: $textColor;
}

body > * {
    flex-shrink: 0;
}

main {
    flex-grow: 1;
}

img {
    display: block;
}


fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

legend {
    display: block;
    margin: 0;
    padding: 0;
    border: none;
}

.main {
    padding: 120px 0;
    flex-grow: 1;
}

.inner-page {
    padding: 60px 0 100px;
    background-color: #f2f8f6;
}

.inner-page-header {
    margin-bottom: 60px;
    text-align: center;
}

.text-link {
    text-decoration: underline;
    color: #138ece;
}

.text-bold {
    font-weight: 700;
}



