.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;

    /* Tablet */
    @media (max-width: 1199px) {
        width: 900px;
    }

    /* Mobile */
    @media (max-width: 899px) {
        width: 600px;
    }

    /* Mobile XS*/
    @media (max-width: 599px) {
        width: 320px;
    }
}