@mixin bgImage ($name) {
    background-image: url($name);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

%linkPsevdo {
    position: absolute;
    content: "";

    height: 1px;

    transition: all 0.2s ease-in;
}
