$textColor: #31405b;
$btnBg: #0ac883;
$navMobileBg: #2d2d2d;
$innerPageBg: #f2f8f6;
$btnShadow: 0px 8px 20px 0px rgba(24, 219, 148, 0.35);
$formShadow: 0px 10px 20px 0px rgba(211, 211, 211, 0.25);

/* cards bg*/
$defaultBg: #a6a6a6;
$extremeBg: #c1b19b;
$adventuresBg: #66b0be;
$hikingBg: #876f56;
$exoticBg: #27695e;

// nav-icon inside lines width and height
$lineWidth: 34px;
$lineHeight: 4px;
$lineColor: #fff;
// nav-icon box size
$width: 38px;
$height: 38px;