.article-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &:nth-child(even) {
        flex-direction: row-reverse;
    }
    
    &:last-child {
        margin-bottom: 0;
    }
}

.article-main__content {
    width: 470px;
}

.article-main__header {
    margin-bottom: 20px;
}

.article-main__text {
    margin-bottom: 40px;

    font-size: 20px;
    line-height: 1.6;
    
    p {
        margin-bottom: 15px;

        span {
            font-weight: 700;
        }

        a {
            text-decoration: underline;
            color: #138ece;
        }
    }
}

.article-main__img {
    width: 570px;
}