a.button, .button {
    height: 50px;
    padding-left: 40px;
    padding-right: 40px;

    border-radius: 50px;
    background-color: #0AC883;
    box-shadow: 0px 8px 20px 0px rgba(24, 219, 148, 0.35);

    font-size: 20px;
    line-height: 50px;
    font-weight: 700;
    color: #fff;

    transition: box-shadow 0.2s ease-in;

    &:hover {
        box-shadow: 0px 0px 30px 0px rgba(24, 219, 148, 0.813);   
    }
}
