.card {
    width: 570px;
    text-decoration: none;
    color: #fff;

    transition: opacity 0.2s ease-in;

    &:hover {
        opacity: 0.8;  
    }

    &--wide {
        width: 670px;
    }

    &--high {
        width: 470px;
    }
}

.card__title-wrapper {
    padding: 0 30px;

    display: flex;
    align-items: center;
    height: 80px;

    background-color: $defaultBg;
    color: #fff;

    &--extreme {
        background-color: $extremeBg;
    }

    &--adventures {
        background-color: $adventuresBg;
    }

    &--hiking {
        background-color: $hikingBg;
    }

    &--exotic {
        background-color: $exoticBg;
    }
}

.card__title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    font-size: 28px;
    font-weight: 700;
    // text-overflow: ellipsis;
    // overflow: hidden;
}
