.checkbox {
    display: flex;
    align-items: flex-start;
}

.checkbox__real {
    width: 0;
    height: 0;
    position: absolute;
    opacity: 0;
    z-index: -1;
    appearance: none;
}

.checkbox__custom {
    margin-right: 15px;

    position: relative;
    vertical-align: bottom;
    flex-shrink: 0;

    display: inline-block;
    width: 20px;
    height: 20px;
    

    border-radius: 2px;
    border: 1px solid #c0c0c0;
    background: #eee;

    &::before {
        content: "";

        width: 17px;
        height: 17px;;

        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale(0);

        background-image: url(./../img/icons/icon-check.svg);
        background-repeat: no-repeat;
        background-position: center;

        transition: transform 0.2s ease-in;
    }
}

.checkbox__real:checked + .checkbox__custom::before {
    transform: translate(-50%, -50%) scale(1);
}

.checkbox__real:focus + .checkbox__custom {
    border: 1px solid #2ab698;
    box-shadow: $formFocusShadow;
}