.form {
    padding: 40px;
    width: 630px;
    background-color: #fff;
    box-shadow: $formShadow;
}

.form__title {
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 700;
}

.form__group {
    margin-bottom: 30px;
    font-size: 18px;

    &:last-of-type {
        margin-bottom: 35px;
    }
}

.form__legend {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 700;
}

.form__input-wrapper {
    margin-bottom: 10px;
}

.form__input-row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.form__radio + .form__radio {
    margin-top: 21px;
}

.form__checkbox + .form__checkbox {
    margin-top: 17px;
}
