.form {
    padding: 40px;
    width: 630px;
    background-color: #fff;
    box-shadow: 0px 10px 20px 0px rgba(211, 211, 211, 0.25);
}

.form-title {
    margin-bottom: 20px;

    font-size: 28px;
    font-weight: 700;
}

.form-group {
    margin-bottom: 30px;
    font-size: 18px;

    &:last-of-type {
        margin-bottom: 35px;
    }
}

.form-group-title {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 700;
}

.input {
    width: 100%;
    padding: 12px 20px 15px 20px;
    height: 50px;

    border: 1px solid #c0c0c0;
    background: #eee;
    border-radius: 6px;
    
    color: #31405b;

    &::placeholder {
        font-size: 18px;
        color: rgba(49, 64, 91, 0.50);
    }
}


.form-input-wrapper {
    margin-bottom: 10px;
}

.form-group-row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.radio-row {
    display: flex;
    align-items: flex-start;

    & + & {
        margin-top: 21px;
    }
}

.real-radio {
    width: 0;
    height: 0;
    position: absolute;
    opacity: 0;
    z-index: -1;
    appearance: none;
}

.custom-radio {
    margin-right: 15px;

    position: relative;
    vertical-align: bottom;
    flex-shrink: 0;

    display: inline-block;
    width: 20px;
    height: 20px;

    border-radius: 50%;
    border: 1px solid #c0c0c0;
    background-color: #eee;

    &::before {
        content: "";
        width: 12px;
        height: 12px;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);

        border-radius: 50%;
        background-color: #2ab698;
        transition: transform 0.2s ease-in;
    }
}

.real-radio:checked + .custom-radio::before {
    transform: translate(-50%, -50%) scale(1);
}

/* Checkbox */

.checkbox-row {
    display: flex;
    align-items: flex-start;

    & + & {
        margin-top: 17px;
    }
}

.real-checkbox {
    width: 0;
    height: 0;
    position: absolute;
    opacity: 0;
    z-index: -1;
    appearance: none;
}

.custom-checkbox {
    margin-right: 15px;

    position: relative;
    vertical-align: bottom;
    flex-shrink: 0;

    display: inline-block;
    width: 20px;
    height: 20px;
    

    border-radius: 2px;
    border: 1px solid #c0c0c0;
    background: #eee;

    &::before {
        content: "";

        width: 17px;
        height: 17px;;

        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale(0);

        background-image: url(./../img/icons/icon-check.svg);
        background-repeat: no-repeat;
        background-position: center;

        transition: transform 0.2s ease-in;

    }
}

.real-checkbox:checked + .custom-checkbox::before {
    transform: translate(-50%, -50%) scale(1);
}

.real-checkbox:focus + .custom-checkbox,
.real-radio:focus + .custom-radio,
.input:focus {
    border: 1px solid #2ab698;
    box-shadow: 0 0 10px rgba(42, 182, 152, 0.5);
}