// Ширина и высота линии в иконке
$lineWidth: 34px;
$lineHeight: 4px;
$lineColor: #fff;

// Размеры контейнера
$width: 38px;
$height: 38px;

.nav-icon {
    width: $width;
    height: $height;

    display: none;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.nav-icon__middle {
    position: relative;
    width: $lineWidth;
    height: $lineHeight;
    background-color: $lineColor;
    border-radius: 50px;

    &::before, &::after {
        content: "";
        position: absolute;
        left: 0;
        border-radius: 50px;

        width: $lineWidth;
        height: $lineHeight;
        background-color: $lineColor; 

        transition: transform 0.2s linear, top 0.2s ease-in 0.2s;
    }

    &::before {
        top: -($lineHeight * 2.3);
    }

    &::after {
        top: $lineHeight * 2.3;
    }
}


// Active state
.nav-icon.nav-icon--active {
    position: fixed;
    top: 55px;
    right: 16px;
    z-index: 999;
}

.header-inner .nav-icon.nav-icon--active {
    top: 30px;
}

.nav-icon.nav-icon--active .nav-icon__middle {
    background-color: transparent;

    &::before, &::after {
        top: 0;
        transition: top 0.2s ease-in, transform 0.2s linear 0.2s;
    }

    &::before {
        transform: rotate(45deg);
    }

    &::after {
        transform: rotate(-45deg);
    }
}

