.nav-article {
    width: 270px;
}

.nav-article__title {
    margin-bottom: 34px;

    font-size: 28px;
    font-weight: 700;
    color: #31405B;
}

.nav-article__list {
    font-size: 20px;
    border-top: 1px solid #d6d9d8;

    li {
        border-bottom: 1px solid #d6d9d8;
    }

    a {
        padding-top: 14px;
        padding-bottom: 14px;
    
        display: block;
    
        text-decoration: none;
        color: #138ece;

        &.active {
            font-weight: 700;
            color: #e04e4e;
        }

        &:hover {
            text-decoration: underline;
        }
    }
}
